# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
env/
venv/

# Jupyter Notebook checkpoints
.ipynb-checkpoints/

# IDE-spezifische Dateien
.vscode/
.idea/

# Docker Logs
*.log

# Ausschließen von Data-Sachen, aber README im data-Verzeichnis einschließen
data/*
!data/README.md
!data/*/README.md

# Ausschließen des Git-Submoduls, damit es frisch geladen wird bei jeder Installation/Clone
src/gsv_integration/gsv8pypi_python3/*
