numpy
pandas
scikit-learn
matplotlib
pyyaml
plotly
tensorflow
fastapi
uvicorn
kafka-python
sqlalchemy
pymongo
elasticsearch
gsv8pypi_python3
joblib  # TODO: Sicherstellen, dass die Versionen kompatibel sind.
pydantic
gunicorn
jupyter
